
<section class="welcome container">
    <div class="form-group col-md-12"> 
        <br><h2>Welcome to My Bank</h2>
        <p3> Join us—for free—to get a personalized My Bank experience, and many other benefits to help you live the life you're working toward</p3><br></br>
        <p3> Please <a href="<%= signin_path %>">Login </a> or <a href="<%= new_user_path %>">Sign Up</a></p3><br></br>
    </div>
</section>







   